# Dependencies
node_modules/
venv/
__pycache__/

# Next.js
.next/
out/
build/

# Environment Variables (Security!)
.env
.env.local
.env.production
.env.development

# Deployment Folders
.vercel/
hf_deployment_temp/

# Large Files & Local DBs
# Large Files handled by LFS
# *.pkl (Removed to allow LFS tracking)
*.zip
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
